.grid-profile {
  display: flex;
  flex-direction: column;

  align-items: center;

  background-color: rgb(91, 81, 179);
  margin: 4pt;

  border-radius: 4pt;
  overflow: hidden;
}

.profile {
  display: flex;
  flex-direction: column;

  place-content: center;
}

@media screen and (max-width: 576px) {
  .profile.responsive {
    margin: 4pt;
  }
}

.profile-caption {
  display: flex;
  flex-direction: column;

  padding: 8pt;

  font-size: small;
  color: white;
}
