.grid-profile {
  display: flex;
  flex-direction: column;

  margin: 4pt;

  border-radius: 4pt;
  overflow: hidden;
}

.profile {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 576px) {
  .profile.responsive {
    margin: 4pt;
  }
}

.profile-caption {
  display: flex;
  flex-direction: column;
  
  text-align: left;

  padding: 8pt;

  font-size: small;
  color: inherit;
}
