.profile {
  width: 30%;
  margin: 8pt;

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  background-color: blue;
}

.profile-picture {
  min-width: 100%;
  max-height: 250px;

  display: flex;
  overflow: hidden;

  justify-content: center;
  align-items: center;
}

.profile-picture > img {
  width: 100%;
  min-height: 250px;

  flex-shrink: 0;

  object-fit: cover;
}

/* Medium devices (tablets, 768px and up) */
@media screen and (max-width: 576px) {
  .featured-profiles.responsive {
    flex-direction: column;
    align-items: center;
  }

  .profile.responsive {
    width: 70%;
    margin: 4pt;
  }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (max-width: 768px) {
  .profile.responsive {
    width: 80%;
  }
}

.profile-caption {
  display: flex;
  flex-direction: column;

  padding: 8pt;

  font-size: small;
  color: white;
}
