.featured-profile {
  display: flex;
  flex-direction: column;

  align-items: center;

  background-color: #D2812A;
  margin: 4pt;

  border-radius: 4pt;
  overflow: hidden;
}

.profile {
  width: 100%;

  display: flex;
  flex-direction: column;

  place-content: center;
}

/* Medium devices (tablets, 768px and up) */
@media screen and (max-width: 576px) {
  .featured-profile {
    width: max-content;
  }
}

.picture {
  box-sizing: border-box;

  width: 100%;
  height: 250px;
  
  overflow: hidden;
  flex-shrink: 0;
}

.profile-caption {
  display: flex;

  justify-content: center;

  padding: 8pt;

  text-align: left;
  font-size: small;
  color: antiquewhite;
}

.caption-spacer {
  margin: 0 8pt;
}
