@import "./index/featuredSection.css";

body.dark-mode {
  background-color: #151515;
  color: white;
}

section {
  display: flex;
  flex-direction: column;
  text-align: center;
  place-content: center;

  padding: 2pt;
  height: 100%;
}

.hero {
  height: 460px;
  background-color: rgb(123, 157, 221);
}

.gallery-invitation {
  background-color: orange;
  height: 250px;

  display: flex;
  align-items: center;
}

.gallery-invitation > button {
  cursor: pointer;

  width: 150pt;
  height: 36pt;
  
  border: none;

  color: white;
  background-color: #18A0FB;
}
