header {
  display: flex;
  justify-content: space-between;

  align-items: center;

  color: white;
  background-color: #d2812a;
}

a {
  text-decoration: none;
  color: #333333;
}

.logo {
  width: 65px;
  height: 42px;

  margin: 0 16pt;

  background: url("/Public/images/HeaderLogo.png") center center no-repeat;
}

.header-nav {
  display: flex;
  flex-direction: row;
  
  justify-content: space-between;

  margin: 8pt;

  height: 32pt;
}

.header-nav > a {
  border-radius: 2pt;
  margin: 0 4pt;
  padding: 8pt 16pt;

  color: white;
  background-color: #2aa5d1;

  transition: all 100ms 50ms;
}

.header-nav > a:hover {
  filter: brightness(1.1);
}

.header-nav > a.darker {
  background-color: #006185;
}
