<div id="header">
  <!-- <script src="https://kit.fontawesome.com/c4c53aa212.js" crossorigin="anonymous"></script> -->
  <style>
    @import "/src/components/Header/header.css";
    @import "https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/all.min.css";
  </style>
  <header>
    <a href="/Public/index.html" referrerpolicy="no-referrer"><div class="logo"></div></a>
    <nav class="header-nav">
      <a href="/Public/gallery.html" referrerpolicy="no-referrer">View Gallery</a>
      <a href="javascript:void(0)" class="darker"><i class="fas fa-moon" title="Night theme"></i></a>
    </nav>
  </header>
</div>
