header {
  display: flex;

  justify-content: space-between;
  align-items: center;

  color: white;
  background-color: #d2812a;
}

@media screen and (max-width: 576px) {
  header {
    right: 0;
    left: 0;
  }
}

@media screen and (min-width: 768px) {
  header {
    right: 5%;
    left: 5%;
  }
}

@media screen and (min-width: 992px) {
  header {
    right: 10%;
    left: 10%;
  }
}

a {
  text-decoration: none;
  color: #333333;
}

.logo {
  width: 65px;
  height: 42px;

  margin: 0 16pt;

  background: url("../../../images/HeaderLogo.png") center center no-repeat;
}

.header-nav {
  display: flex;
  flex-direction: row;
  
  justify-content: space-between;

  margin: 8pt;

  height: 32pt;
}

.header-nav > a {
  border-radius: 2pt;
  margin: 0 4pt;
  padding: 8pt 16pt;

  color: white;
  background-color: #2aa5d1;

  transition: all 100ms 50ms;
}

.header-nav > a:hover {
  filter: brightness(1.1);
}

.header-nav > a.darker {
  background-color: #006185;
}
