a {
  text-decoration: none;
  color: #333333;
}

header {
  display: flex;
  justify-content: space-between;

  padding: 8pt;
  align-items: center;

  color: white;
  background-color: rgb(136, 32, 32);
}

.logo > a {
  color: white;
}

.header-nav {
  display: flex;
  flex-direction: row;

  height: 32pt;

  background-color: rgb(122, 206, 206);
}

.header-nav > a {
  padding: 8pt;

  height: 100%;
}
