header {
  display: flex;
  justify-content: space-between;

  padding: 8pt;
  align-items: center;

  color: white;
  background-color: #D2812A;
  /* background-color: rgb(136, 32, 32); */
}

a {
  text-decoration: none;
  color: #333333;

  line-height: 32px;
  padding: 4pt;
}

.logo {
  height: 32px;
  width: 50px;

  margin: 0 16pt;

  background: url("/Public/images/HeaderLogo.png") center center no-repeat;
}

.header-nav {
  display: flex;
  flex-direction: row;

  height: 32pt;
  padding: 0 8pt;
}

.header-nav > a {
  margin: 0 4pt;
  padding: 4pt 16pt;

  border-radius: 2pt;

  color: white;
  background-color: #2aa5d1;
}

.header-nav > a.darker {
  background-color: #006185;
}
