header {
  display: flex;
  justify-content: space-between;

  padding: 8pt;
  align-items: center;

  color: white;
  background-color: rgb(136, 32, 32);
}

a {
  text-decoration: none;
  color: #333333;

  line-height: 32px;
  padding: 4pt;
}

.logo {
  height: 32px;
  width: 88px;

  margin: 0 16pt;

  color: white;
  background-image: url(/Public/images/HeaderLogo.png);
}

.header-nav {
  display: flex;
  flex-direction: row;

  height: 32pt;
  padding: 0 8pt;
}

.header-nav > a {
  margin: 0 4pt;
  padding: 4 16pt;

  background-color: rgb(122, 206, 206);
}
