.featured-title {
  margin: 8pt;
}

.featured-section {
  display: flex;
  flex-direction: column;

  width: 100%;
  min-height: 450px;
  margin: 0;

  background-color: antiquewhite;
}

.featured-profiles {
  width: 100%;
  display: flex;

  justify-content: center;
}

@media screen and (max-width: 576px) {
  .featured-profiles.responsive {
    flex-direction: column;
  }
}

.picture {
  max-width: 100%;
  height: 100%;

  object-fit: cover;
}
