.gallery-invitation {
  height: 250px;

  background-size: cover;
  /* background: url("https://as1.ftcdn.net/v2/jpg/02/20/63/28/1000_F_220632879_UngWt6d4KJ8WMda4KoV6XQdTe2bA88GT.jpg") center center local; */
  /* background: url("https://c.wallhere.com/photos/a4/83/1600x1000_px_grass_Green_landscape_nature-684630.jpg!d") center top fixed; */
  /* background: url("https://st2.depositphotos.com/6698172/10355/v/600/depositphotos_103552274-stock-illustration-cats-and-fish-seamless-pattern.jpg") center top repeat fixed; */
  background: url("https://static.vecteezy.com/system/resources/previews/003/047/741/non_2x/seamless-pattern-with-different-cats-and-balls-of-yarn-vector.jpg") center top repeat fixed;

  object-fit: contain;
  display: flex;

  align-items: center;
}

.gallery-invitation > a {
  line-height: 36pt; /* Center text vertically */
  text-decoration: none;

  width: 150pt;
  height: 36pt;

  border: none;

  color: white;
  background-color: #18a0fb;

  box-shadow: 16pt;
}
