/* Required for the components or FA breaks ¯\_(ツ)_/¯ */
@import url(https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/all.min.css);

/* Baseline styles */
* {
  padding: 0;
  margin: 0;
}

/* Transition fix on load */

.preload * {
  transition: none !important;
}

/* Main styles */

body {
  background-color: #f3f4f6;
  /* Dark mode background color */
  /* background-color: #36393F; */
  color: #333333;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  min-height: 100vh;

  font-family: "Montserrat", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;

  background-color: red;

  transition: all 0.1s linear;
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
  .container.responsive {
    width: 100%;

    background-color: rgb(255, 50, 50);
  }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .container.responsive {
    width: 90%;
    padding: 10pt;

    background-color: rgb(255, 100, 100);
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container.responsive {
    width: 80%;

    background-color: rgb(255, 150, 150);
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .responsive-container {
    width: 75%;

    background-color: rgb(255, 200, 200);
  }
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}
