/* Required for the components or FA breaks ¯\_(ツ)_/¯ */
@import url("https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/all.min.css");

/* Baseline styles */
* {
  padding: 0;
  margin: 0;
}

/* Transition fix on load */

.preload * {
  transition: none !important;
}

/* Main styles */

/* Dark mode background color */
/* background-color: #36393F; */

body {
  background-color: #d8d8d8;
  color: #333333;

  transition-duration: 0.1s;
}

body.dark-theme {
  background-color: #151515;
  color: white;
}

section {
  display: flex;
  flex-direction: column;
  text-align: center;
  place-content: center;

  height: 100%;
}

a {
  text-decoration: none;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  min-height: 100vh;

  font-family: "Montserrat", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;

  transition: all 0.1s linear;
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
  .container.responsive {
    width: 100%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .container.responsive {
    width: 90%;
    padding: 10pt;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container.responsive {
    width: 80%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .responsive-container {
    width: 75%;
  }
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.big-space {
  height: 250px;

  background-size: cover;
  background: url("https://static.vecteezy.com/system/resources/previews/003/047/741/non_2x/seamless-pattern-with-different-cats-and-balls-of-yarn-vector.jpg")
    center top repeat fixed;
    
  object-fit: contain;
  display: flex;

  align-items: center;
}

.big-button {
  line-height: 36pt; /* Center text vertically */

  width: 150pt;
  height: 36pt;

  border: none;

  color: white;
  background-color: #2aa5d1;

  box-shadow: 16pt;
}
