/* Required for the components or FA breaks ¯\_(ツ)_/¯ */
@import url("https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/all.min.css");

/* Baseline styles */
* {
  padding: 0;
  margin: 0;
}

/* Transition fix on load */

.preload * {
  transition: none !important;
}

/* Main styles */

body {
  background-color: #d8d8d8;
  color: #333333;

  transition: all 100ms 50ms;
}

body.dark-theme {
  color: white;
  background-color: #151515;
}

section {
  display: flex;
  flex-direction: column;
  text-align: center;
  place-content: center;

  height: 100%;
}

section.dark-theme {
  background-color: #36393F;
  color: antiquewhite;
}

a {
  text-decoration: none;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  min-height: 100vh;

  font-family: "Montserrat", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;

  transition: all 100ms 50ms;

  box-shadow: 0 5pt 12pt #13131333;
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (max-width: 576px) {
  .container {
    width: 100%;
  }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
  .container {
    width: 90%;
    padding: 10pt;
  }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
  .container {
    width: 80%;
  }
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.big-space {
  height: 250px;

  background-size: cover;
  background: url("https://static.vecteezy.com/system/resources/previews/003/047/741/non_2x/seamless-pattern-with-different-cats-and-balls-of-yarn-vector.jpg")
    center top repeat fixed;
    
  object-fit: contain;
  display: flex;

  align-items: center;
}

.big-button {
  line-height: 36pt; /* Center text vertically */

  width: 150pt;
  height: 36pt;

  border: none;

  color: white;
  background-color: #2aa5d1;

  box-shadow: 0 5pt 12pt #13131333;

  transition: all 100ms 50ms;
}

.big-button:hover {
  filter: brightness(1.1);
}

.big-button.dark-theme {
  background-color: #006185;
}

header-component {
  position: sticky;
  top: 0;

  z-index: 1;
}

header-component.dark-theme::part(dark) {
  background-color: #854B0D;
}

header-component.dark-theme::part(button) {
  background-color: #006185;
}

header-component.dark-theme::part(toggle) {
  background-color: #003B52;
}

footer-component.dark-theme::part(dark) {
  background-color: #36393F;
}

footer-component.dark-theme::part(logo) {
  filter: invert();
}

footer-component.dark-theme::part(separator) {
  background-color: white;
}
