@import "./gallery/dynamicGrid.css";

.gallery-header {
  box-sizing: border-box;
  width: 100%;

  padding: 0 16pt;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #deb646 url("https://wallpaperaccess.com/full/3003021.jpg")
    no-repeat top left fixed;
}

.gallery-header.dark-theme {
  background: #D2812A;
}

.gallery-title {
  margin: 8pt;
}

@media screen and (max-width: 576px) {
  .gallery-title {
    font-size: larger;
  }
}

.gallery-logo {
  margin: 8pt;
}

.gallery-section {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  width: 100%;
  min-height: 450px;

  margin: 0;

  background-color: antiquewhite;
}

.notice-empty {
  font-size: larger;
}

.picture {
  min-width: 100%;
  height: 100%;

  object-fit: contain;

  box-sizing: border-box;

  width: 100%;
  height: 100%;

  overflow: hidden;
  flex-shrink: 1;
}

.gallery-space {
  max-height: 86px;
}

.gallery-loader {
  display: none;

  place-content: center;

  padding-bottom: 16pt;
}

.caption-name {
  font-size: medium;
}

.caption-age {
  font-size: small;
}
