@import "./gallery/dynamicGrid.css";

.gallery-header {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: rgb(123, 157, 221)
    url(https://wallpaperaccess.com/full/3003021.jpg) no-repeat top left fixed;
}

.gallery-title {
  margin: 8pt;
}

.gallery-logo {
  margin: 8pt;
}

.gallery-section {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  width: 100%;
  min-height: 450px;

  margin: 0;

  background-color: antiquewhite;
}

.picture {
  min-width: 100%;
  height: 100%;

  object-fit: cover;

  box-sizing: border-box;

  width: 100%;
  height: 100%;

  overflow: hidden;
  flex-shrink: 1;
}

.gallery-loader {
  min-height: 128px;
}

.caption-name {
  font-size: medium;
}

.caption-age {
  font-size: small;
}