@import "./index/featuredSection.css";
@import "./index/galleryInvitation.css";

body.dark-mode {
  background-color: #151515;
  color: white;
}

section {
  display: flex;
  flex-direction: column;
  text-align: center;
  place-content: center;

  padding: 2pt;
  height: 100%;
}

.hero {
  height: 460px;
  background: rgb(123, 157, 221) url(https://wallpaperaccess.com/full/3003021.jpg) no-repeat right center;
}
