@import "./index/featuredSection.css";

body.dark-mode {
  background-color: #151515;
  color: white;
}

.hero {
  display: flex;
  align-items: center;

  height: 460px;
  background: rgb(123, 157, 221)
    url(https://wallpaperaccess.com/full/3003021.jpg) no-repeat right center fixed;

  transition-duration: 0.1s;
}

@media screen and (max-width: 576px) {
  .hero {
    background-position: left center;
    height: 128px;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    background-position: left center;
    height: 360px;
  }
}

.hero > .logo {
  width: 395px;
  height: 250px;
  background: url("/Public/images/HeroLogo.png") no-repeat center center;}

@media screen and (max-width: 576px) {
  .hero > .logo {
    width: 128px;
    height: 128px;
    background: url("/Public/images/IconLogo128x128White.png") no-repeat center center;
  }
}

@media screen and (max-width: 768px) {
  .hero > .logo {
    width: 256px;
    height: 256px;
    background: url("/Public/images/IconLogo256x256White.png") no-repeat center center;
  }
}

@media screen and (max-width: 992px) {
  .hero > .logo {
    background-position: center center;
  }
}
