footer {
  background-color: antiquewhite;
  padding: 8pt;
}

footer.dark-theme {
  background-color: #36393F;
  color: antiquewhite;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo {
  width: 150px;
  height: 95px;
  margin: 16pt;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: larger;

  background: url("/Public/images/FooterLogo.png") center center no-repeat;
}

.footer-nav {
  display: flex;
  flex-direction: row;

  font-size: small;
  text-align: center;
}

.footer-nav > a {
  color: #333333;

  text-decoration: none;
  margin: 0 16pt;
}

.footer-separator {
  width: 80%;
  height: 2px;

  margin: 10pt 0;

  background-color: #333333;
}

.footer-nav-circle-buttons {
  display: flex;
  flex-direction: row;
}

.circle-button {
  cursor: pointer;

  width: 24pt;
  height: 24pt;
  background-color: azure;

  border: #333333 dashed 1pt;
  border-radius: 100%;

  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 8px;
}

.footer-copyright {
  display: inline-block;

  padding: 8pt;

  font-size: small;
  font-weight: 200;
  text-align: center;
}
