<div id="footer dark">
  <style>
    @import "../src/components/Footer/footer.css";
  </style>
  <footer class="dark">
    <nav>
      <div class="footer-logo"></div>
      <div class="footer-nav">
        <a href="#">Source Code</a>
        <a href="#">About Hackademy</a>
        <a href="#">About the Project</a>
        <a href="#">About Me</a>
      </div>

      <div class="footer-separator"></div>

      <div class="footer-nav-circle-buttons">
        <span class="circle-button"></span>
        <span class="circle-button"></span>
        <span class="circle-button"></span>
        <span class="circle-button"></span>
      </div>
      <span class="footer-copyright">&copy;DigitalNaut. John Bernal 2021. Kindness to animals.</span>
    </nav>
  </footer>
</div>